.Budget {
    width: 100%;
    background-color: #2C2C2C;
    height: 5vh;
    border-radius: 3vh;
    overflow: hidden;
    position: relative;
    transition: height 0.4s cubic-bezier(.29,.98,.43,.96);
    margin-bottom: 1vh;
    animation: fadeBudgetIn 0.3s ease none;
}
.Budget.active {
    height: 80vh;
}
@keyframes fadeBudgetIn {
    from {
        height: 0;
    }
    to{
        height: 80vh;
    } 
}

.dropdown {
    position: absolute; 
    top: 0;
    right: 1vh;
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.dropdown > img {
    height: 2vh;
    width: 2vh;
    transition: transform 0.3s cubic-bezier(.55,1.41,.5,1);
}
.Budget.active > .dropdown > img {
    transform: rotate(180deg);
}

.budgetTitle {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}
.budgetTitle > .dateText {
    margin-right: 0.2vh;
}
.budgetTitle > img {
    width: 2vh;
    margin: 0 1vh;
}

.DatePicker {
    width: 3.2vh;
    background-color: #48639c;
    height: 3vh;
    border-radius: 1vh;
    position: relative;
    cursor: pointer;
}
.DatePicker > .calendarIcon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.DatePicker > .calendarIcon > img {
    height: 75%;
    width: 75%;
}
.DatePicker > input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    opacity: 0;
}
.DatePicker > input::-webkit-calendar-picker-indicator {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.budgetAmountCont {
    position: relative;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    color: #548B7B;
    font-weight: bold;
}
.budgetAmountCont > input {
    width: 3vh;
    font-size: 1.8vh;
    outline: none;
    border: none;
    background-color: #353535;
    border-radius: 5px;
    color: #7BDBBF;
    padding: 3px 5px;
    margin-left: 5px;
    text-align: center;
}
.percentUsed {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: #B6B6B6;
    font-weight: bold;
}

.colorBar {
    width: 80%;
    height: 0.7vh;
    border-radius: 9999px;
    background-color: #363636;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;

}
.colorFill {
    height: 100%;
    border-right: 2px solid white;
}

.sections {
    width: 100%;
    height: 86.8%;
    display: flex;
    margin-top: 3vh;
    overflow-x: scroll;
}

.BudgetSection {
    width: 18vw;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    animation: newSection 0.3s ease none;
}
@keyframes newSection {
    from {
        width: 0;
        min-width: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        width: 18vw;
        min-width: 320px;
        opacity: 1;
    }
}

.BudgetSection.addSection {
    position: relative;
    height: 100%;
    padding: 10px;
}


.addSection > .addSectionCont {
    height: 100%;
    width: 100%;
    background-color: #333333;
    border-radius: 20px;
    cursor: pointer;
    transition: border 0.3s ease;
}
.addSection > .addSectionCont.plusad {
    border: 0.7vh #DC9596 dashed;
}
.addSection > .addSectionCont > .ad {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.addSection > .addSectionCont > .ad.plusad {
    opacity: 1;
}
.addSection > .addSectionCont > .ad > .hollowPlus {
    height: 7vh;
    width: 7vh;
    margin-bottom: 3vh;
}
.addSection > .addSectionCont > .ad > h3 {
    font-size: 2.2vh;
    width: 80%;
    text-align: center;
    line-height: 3vh;
}
.addSection > .addSectionCont > .ad > .threeLttrPlus {
    height: 10vh;
}
.addSection > .addSectionCont > .innerAddSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.addSection > .addSectionCont > .innerAddSection.plusad {
    opacity: 0;
}


.addSection img {
    margin-top: 10px;
}

.rightBorder {
    height: 80%;
    position: absolute;
    top: 70px;
    right: 0;
    width: 2px;
    background-color: #353535;
    border-radius: 999px;

}

.ColorSelector {
    width: 70%;
    height: 2vh;
    position: relative;
    overflow: hidden;
}
.ColorSelector .middle {
    background-color: #2c2c2c;
}
.ColorSelector > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.ColorSelector > #otherColors {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-110%);
    pointer-events: none;
    opacity: 0;
}
.ColorSelector > #otherColors.active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}
.ColorSelector > #currentColor {
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(110%);
    pointer-events: none;
    opacity: 0;
}
.ColorSelector > #currentColor.active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}
.ColorSelector .outter {
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.ColorSelector .middle, .ColorSelector .inner {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percentCont {
    display: flex;
    font-size: calc(0.3vw + 12px);
    justify-content: center;
    align-items: center;
}
.percent {
    width: 60px;
    text-align: center;
    background-color: #353535;
    color: white;
    outline: none;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: calc(0.3vw + 12px);
}
.percentSlider {
    width: 60%;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}
.percentSlider > .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 0.5vh; 
    /* background: #00A676;  */
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s, background-color 0.3s ease;
    border-radius: 9999px;
}
.percentSlider > .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1.5vh; 
    height: 1.5vh; 
    background: #FFFFFF; 
    border: 3px solid white;
    cursor: pointer; 
    border-radius: 9999px;
}

.percentSlider > .slider::-moz-range-thumb {
    width: 1.5vh; 
    height: 1.5vh; 
    background: #FFFFFF; 
    border: 3px solid white1;
    cursor: pointer; 
    border-radius: 9999px;
}

.percentToAmount {
    font-weight: bold;
    margin-bottom: 2vh;
    letter-spacing: 0.2vh;
    font-size: 1.5vh;
}

.sectionTitle {
    color: white;
    margin-top: 5px;
    position: relative;
}
.sectionTitle > input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 2.2vh;
    text-align: center;
}

.removeCategory {
    position: absolute;
    top: 2vh;
    left: 1.5vh;
    transform: translateY(-50%);
    cursor: pointer;
    height: 2vh;
    width: 2vh;
}
.removeCategory > img {
    height: 100%;
    width: 100%;
}

.fraction {
    margin-top: 10px;
    font-weight: bold;
}
.spent {
    color: #8C8C8C;
}
.spent.true {
    color: #DC9596;
}
.total {
    color: #00A676;
}

.Items {
    max-height: 70%;
    overflow-y: scroll;
    width: 80%;
}

.Item {
    width: 100%;
    height: 40px;
    /* background-color: #48639C; */
    border-radius: 14px;
    margin-top: 10px;
    padding: 0 8px;
    cursor: pointer;
    animation: itemEnter 0.3s ease none;
    border: 2px solid transparent;
    transition: border 0.3s ease, height 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    position: relative;
}
.Item > .row {
    height: 40px;
    margin-bottom: 10px;
}
.Item > .deleteItem {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 120px;
    background-color: #747474;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.Item input {
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: white;
    font-size: 16px;
}
.Item input::placeholder {
    color: #dddddd;
}
.Item > .row1 {
    width: 100%;
    height: 36px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.3s ease, opacity 0.3s ease;
}
.Item > .row2 > input {
    width: 100%;
    /* background-color: #768ab5; */
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.247);
    box-shadow: 0 0 3px 3px rgba(107, 107, 107, 0.24);
}
.Item > .row3 {
    display: flex;
    justify-content: space-between;
}
.Item > .row3 > input {
    width: 50%;
    /* background-color: #6d6f9a; */
    transition: background-color 0.3s ease;
    background-color: rgba(255, 176, 176, 0.342);
    box-shadow: 0 0 3px 3px rgba(107, 107, 107, 0.24);
}
.Item > .row3 > .doneBtn {
    width: 40%;
    /* background-color: #5A739B;  */
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.25);
}
@keyframes itemEnter {
    from {
        height: 0;
    }
    to {
        height: 40px;
    }
}
.Item.leave {
    animation: itemLeave 0.3s ease none;
}
@keyframes itemLeave {
    from {
        height: 40px;
        border: 2px solid #009BCC;
    }
    50% {
        margin-top: 10px;
    }
    to {
        height: 0;
        margin-top: 0;
        border: 0px solid transparent;
    }
}
.Item.focused {
    border: 2px solid #009BCC;
    height: 150px;
}
.Item.focused > .row1 {
    height: 0;
    opacity: 0;
}

.Item > .row1 > .itemPrice {
    color: #ffacad;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.addItem {
    height: 40px;
    width: 40%;
    border-radius: 10px;
    /* background-color: #48639C; */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.addItem > img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.amountLeft {
    color: #8C8C8C;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.amountLeft.active {
    opacity: 1;
}
.amountLeft.red {
    color: rgb(165, 82, 82);
}

.EditItem {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    height: 250px;
    width: calc(10vw + 300px);
    transition: transform 0.3s ease;
    background-color: #353535;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}
.EditItem.true {
    transform: translate(-50%, 10%);
}

.editTitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.editInputs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.editInputs > input {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 35px;
    padding: 0 10px;
    color: white;
}
.editInputs > input:nth-child(1) {
    width: 65%;
    background-color: #3E4C69;
}
.editInputs > input:nth-child(1)::placeholder {
    color: #9ea5b5;
}
.editInputs > input:nth-child(2) {
    width: 32%;
    background-color: #896565;
}
.editInputs > input:nth-child(2)::placeholder {
    color: #c3b2b2;
}

.dateAndDone {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}
.dateAndDone > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-self: center;
    color: grey;
}

.editDone {
    width: 80px;
    height: 40px;
    background-color: #5A739B;
    width: 32%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.EditItem .editDeleteItem {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    border-radius: 9999px;
    height: 25px;
    width: 110px;
    background-color: #747474;
    color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.EditItem.true .editDeleteItem {
    opacity: 1;
}