.Dashboard {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.floatingIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.floatingIcon > img {
    height: calc(4vw + 25px);
    width: calc(4vw + 25px);
}

.title {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
.title > img {
    height: 100%;
}

.budgets {
    margin-top: 10px;
    width: 100%;
    height: calc(100vh - 40px);
    padding: 0 10vw;
    color: white;
    overflow-y: scroll !important;
    padding-bottom: 100px;
}

.newBudget {
    position: absolute;
    left: 150px;
    top: 20px;
    height: 50px;
    width: 120px;
    background-color: #2C2C2C;
}

@media screen and (max-width: 750px) {
    .budgets {
        padding: 0 1vw;
    }
    .title {
        height: 5vh;
        padding-left: 3vh;
        margin-top: 8vh;
    }
}

.Dashboard.false {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    opacity: 1;
}

.Dashboard.true {
    opacity: 1;
}

.Dashboard.false.fadeOut {
    opacity: 0;
}

.Dashboard > .loading {
    margin: 10vh;
    height: 20vh;
    width: 20vh;
    opacity: 1;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

.create-a-budget {
    height: 80vh;
    width: 100%;
    background-color: #2C2C2C;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: #646464;
    font-weight: bold;
    letter-spacing: 0.3vh;
    text-align: center;
    cursor: pointer;
}

.topRightBtns {
    position: absolute;
    top: 3vh;
    right: 4vh;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

.topRightBtns > .addBudget {
    height: 100%;
    width: 12vh;
    background-color: #48639C;
    margin-right: 5vh;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1vh;
    padding-left: 0.5vh;
    border-radius: 9999px;
    color: white;
    font-weight: bold;
    font-size: 1.5vh;
}
.topRightBtns > .addBudget > img {
    height: 60%;
}

.topRightBtns > .openMenu {
    cursor: pointer;
}