.Input { 
    width: 40vh;
    height: 6vh;
    position: relative;
    margin: 1vh;
}

.Input > .placeholder {
    position: absolute;
    top: 50%;
    left: 2vh;
    color: #9aa4ba;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 2.7vh;
    pointer-events: none;
    transition: font-size 0.3s ease, top 0.3s ease;
}
.Input > .placeholder.true { 
    font-size: 1.2vh;
    top: 15%;
}

.Input > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #364a75;
    border-radius: 2vh;
    padding: 0 2vh;
    font-size: 2.7vh;
    color: white;
}